<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Cedarville University: Be Bold
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body
		include header
		header.currentHeader
			.current-col-1
			.curent-col-2
				ul Quick dsdf
					li CedarInfo
					li Classifieds
					li Dining Hall
					li Moodle
					li Academic Calendar

		.currentBodyLeft
			h2 Latest SGA video
			img(src="images/cucurrent/video.png", alt="latest sga video")

			h2 Student programs
			ul
				li: a(href="#") Student Government
					img(src="images/cucurrent/sgaIcon.png", alt="sga logo")
				li: a(href="#") Student Center Activity Board
					img(src="images/cucurrent/scab.png", alt="sga logo")
				li: a(href="#") Rinnova Coffee
					img(src="images/cucurrent/rinnova.png", alt="sga logo")
				li: a(href="#") Resound
					img(src="images/cucurrent/resound.png", alt="sga logo")



		.currentBodyRight
			.events 
				h3 Events
				ul Today
					li Chapel: Dr. White
					li Baseball vs. Oakland City
				ul March
					li Senior Design Showcase
					li Senior Studio Art Showcase
					li Library Book Sale
					li Chapel: Dr. Steve Mckinion
			.otherLinks
				ul.sectionLists Other Links
					li: a(href="#") CedarInfo
					li: a(href="#") Classifieds
					li: a(href="#") Course Schedules
					li: a(href="#") Dining Hall
					li: a(href="#") Moodle
					li: a(href="#") Calendar
				ul.sectionLists Section 2
					li: a(href="#") CedarInfo
					li: a(href="#") Classifieds
					li: a(href="#") Course Schedules
					li: a(href="#") Dining Hall
					li: a(href="#") Moodle
					li: a(href="#") Calendar
				ul.sectionLists Section 3
					li: a(href="#") CedarInfo
					li: a(href="#") Classifieds
					li: a(href="#") Course Schedules
					li: a(href="#") Dining Hall
					li: a(href="#") Moodle
					li: a(href="#") Calendar
			.follow
				ul 
					p Follow us on:
					li: a(href="#"): img(src="images/cucurrent/facebook.png", alt="facebook icon")
					li: a(href="#"): img(src="images/cucurrent/twitter.png", alt="twitter icon")
					li: a(href="#"): img(src="images/cucurrent/instagram.png", alt="instagram icon")
					li: a(href="#"): img(src="images/cucurrent/youtube.png", alt="youtube icon")


		include footer
