<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Cedarville University: Be Bold
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body
        include header

        header.deptHeader
            .col-1.deptBanner
            .col-2.deptLinks
                ul Major and Programs
                    li Studio Art
                    li Graphic Design
                    li Industrial Design
                    li Theatre
                    li Web Design

        .deptHeading
            h2 Art, Theatre, and Design
        .deptBodyLeft
            p Whether you love oils or Photoshop, sculpture or web animation, performance or set design, we'be got something for you. Cedarville will develope your skills, inspire creativity, and prepare you to pursue whatever your dream may be. Find out what makes Cedarville's design, and theatre programs distinct!
            img(src="images/cudept/vid.png", alt="Art, Design, and Theatre promotional video")
        .deptBodyRight
            .events 
                h3 Events
                ul March
                    li Spring Play
                    li Fall Play
                ul April
                    li Senior Design Showcase
                    li Senior Studio Art Showcase

            .tour
                .tourTitle
                    span.tourImage
                    h3 Tour our Facilities
                .row
                    .one
                        img(src="../images/cudept/carnegie.png")
                        p Carnegie Hall

                    .two
                        img(src="../images/cudept/Tyler.png")
                        p Tyler Center			
                    .three
                        img(src="../images/cudept/Alford.png")
                        p Alford Auditorium

        .deptNews
            h3 Department News
            .one
                img(src="../images/cudept/news1.png")
                h4 Senior Art Major has successful show with hundreds of visitors
                small.deptAuthor by: Ryan Bower
                br
                small.deptDate March 28, 2016
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat laborum.
            .two
                img(src="../images/cudept/news2.png")
                h4 Studio art students attend International Art Museum
                small.deptAuthor by: Kathryn Sill
                br
                small.deptDate March 18, 2016
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat laborum
            .three
                img(src="../images/cudept/news3.png")
                h4 Serious Competition within major
                small.deptAuthor by: Rae Mckee
                br
                small.deptDate March 18, 2016
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nlaboru


        include footer
