footer
	ul.aboutList About Cedarville
		li: a(href="#") Doctrinal Statement
		li: a(href="#") History of Cedarville
		li: a(href="#") NCAA ATHLETICS
		li: a(href="#") Consumer Information
	ul.admissionsList Admissions
		li: a(href="#") Academic Majors and Programs
		li: a(href="#") Courses for Highschool Students
		li: a(href="#") Online Programs
		li: a(href="#") Virtual Tour
	ul.financialList  Financial Aid
		li: a(href="#") Financial Aid FAQS
		li: a(href="#") Net Price Calculator
		li: a(href="#") Scholarship Information
		li: a(href="#") Tuition and Cost Information
	ul.faithList Faith and Ministries
		li: a(href="#") Biblical Integration
		li: a(href="#") Christian Ministries Division
		li: a(href="#") Heartsong
script(type="application/javascript", src="js/pushy.js")
