<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		title Cedarville University: Be Bold
		link(rel="stylesheet", type="text/css", href="css/style.css")
		script(type="application/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(type="application/javascript", src="js/script.js")
	body
		header.landingHeader
			section.leftNav
				a(href="#").menu-btn &#9776;
				nav.pushy.pushy-left
					ul.pushyLinkText
						li.pushy-submenu: a(href="#") Sub
							ul
								li.pushy-link: a(href="#") link
								li.pushy-link: a(href="#") link
								li.pushy-link: a(href="#") link
						li.pushy-link: a(href="#") item 1
						li.pushy-link: a(href="#") item 2

				//- #menu
				//- 	img(src="images/culanding/menu.png", alt="menu button")
				h1.cuLogo
				small.motto "for the Word of God and the Testimony of Jesus Christ."
			section.rightNav
				ul.navTop
					li: a(href="#") Donate
					li: a(href="#") Alumni
					li: a(href="#") Faculty 
					li: a(href="#") Students
				ul.navBottom
					a(href="#"): li Admissions
					a(href="#"): li Programs
					a(href="#"): li Student Life 
					a(href="#"): li Apply

		div.site-overlay
		div.container
