<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Cedarville University: Be Bold
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body
		include header
		.list-col-1
			h1 Programs
			.deptMajor
				.yellowBar
					h2 Art, Theatre, and Design
					a(href="#") Learn More
				.major-col-1
					ul B.A. Degrees
						li: a(href="#") Industrial Design
						li: a(href="#") Studio Art
						li: a(href="#") Graphic Design
						li: a(href="#") Theatre
						li: a(href="#") Web Design
				.minor-col-2
					ul Minors
						li: a(href="#") Graphic Design
						li: a(href="#") Studio Art
						li: a(href="#") Web Design
						li: a(href="#") Theatre
			.deptMajor
				.blueBar
					h2 Business and Administration
					a(href="#") Learn More
				.major-col-1
					ul B.A. Degrees
						li: a(href="#") Industrial Design
						li: a(href="#") Studio Art
						li: a(href="#") Graphic Design
						li: a(href="#") Theatre
						li: a(href="#") Web Design
				.minor-col-2
					ul Minors
						li: a(href="#") Graphic Design
						li: a(href="#") Studio Art
						li: a(href="#") Web Design
						li: a(href="#") Theatre
			.deptMajor
				.yellowBar
					h2 Art, Theatre, and Design
					a(href="#") Learn More
				.major-col-1
					ul B.A. Degrees
						li: a(href="#") Industrial Design
						li: a(href="#") Studio Art
						li: a(href="#") Graphic Design
						li: a(href="#") Theatre
						li: a(href="#") Web Design
				.minor-col-2
					ul Minors
						li: a(href="#") Graphic Design
						li: a(href="#") Studio Art
						li: a(href="#") Web Design
						li: a(href="#") Theatre


		.list-col-2
			ul Program Search
				br
				input(type="text", placeholder="What are you interested in?")
				li: a(href="#") Art, Design, and Theatre
				li: a(href="#") Biblical Studies
				li: a(href="#") Business and Administration
				li: a(href="#") Communication
				li: a(href="#") Education
				li: a(href="#") Engineering and C.S.
				li: a(href="#") Art, Design, and Theatre
				li: a(href="#") Biblical Studies
				li: a(href="#") Business and Administration
				li: a(href="#") Communication
				li: a(href="#") Education
				li: a(href="#") Engineering and C.S.
				li: a(href="#") Art, Design, and Theatre
				li: a(href="#") Biblical Studies
				li: a(href="#") Business and Administration
				li: a(href="#") Communication
				li: a(href="#") Education
				li: a(href="#") Engineering and C.S.
				li: a(href="#") Art, Design, and Theatre
				li: a(href="#") Biblical Studies
				li: a(href="#") Business and Administration
				li: a(href="#") Communication
				li: a(href="#") Education
				li: a(href="#") Engineering and C.S.



		include footer
