@import "typi";
@import 'modular-scale';
$breakpoints: (
  xsmall: 320px,
  small: 768px,
  medium: 1024px,
  large: 1200px
);

$typi: (
  null: 16px,
  xsmall: 17px,
  small: 18px,
  medium: 19px,
  large: 20px
);

html {
  @include typi-base();
}

$h1-map: (
  null: (ms(1) 1),
  xsmall: (ms(1) 1),
  small: (ms(1) 1),
  medium: (ms(4) 1),
  large: (ms(1) 1.3)
  );

$h2-map: (
 null: (ms(1) 1),
 xsmall: (ms(1) 1),
 small: (ms(1) 1),
 medium: (ms(1) 1),
 large: (ms(1) 2)
  );

$h3-map: (
 null: (ms(1) 1.2),
 xsmall: (ms(1) 1),
 small: (ms(1) 1),
 large: (ms(1) 1.3)
  );

  $p-map: (
   null: (ms(0) 1.2),
   xsmall: (ms(0)1),
   small: (ms(0) 1),
   large: (ms(0) 1.3)
    );

  $blockquote-map: (
   null: (ms(1) 1.2),
   xsmall: (ms(1)1.6),
   small: (ms(1) 1.6),
   large: (ms(1) 1.3)
    );

    $button-map: (
    null: (ms(1) 1),
    xsmall: (ms(1)1),
    small: (ms(1) 1),
    large: (ms(1) 1)
    );


h1 { @include typi($h1-map) }
h2 { @include typi($h2-map) }
h3 { @include typi($h3-map) }
p { @include typi($p-map) }
blockquote { @include typi($blockquote-map) }
.button { @include typi($button-map) }
